<style>* {
  box-sizing: border-box;

}


body {
  /*font-family: 'Libre Franklin', sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
}


article {
  float: left;
  /* margin-left: 50px; */
  padding: 30px;
  /*width: 95%;*/
  min-width: 300px;
  max-width: 1000px;
  background-color: #ffffff;
  position: absolute;
  /* height: auto;  */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* create columns for image and about */
.profile-info {
    display: flex;
    align-items: center;
  }

  .text-info {
    margin-left: 20px; /* Adjust the margin as needed */
  }

  .about {
    margin-top: 20px; /* Add margin to separate the 'About' section from the profile info */
  }

  /* Media query for screens smaller than a certain width (e.g., 768px) */
  @media screen and (max-width: 568px) {
    .profile-info {
      display: block; /* Revert to the original style for smaller screens */
    }

    .text-info {
      margin-left: 0; /* Remove the margin for smaller screens */
      margin-top: 10px; /* Add some margin between the image and text for smaller screens */
    }

    .about {
      margin-top: 20px; /* Keep the margin for 'About' section for smaller screens */
    }
  }


/* Set font size for h1 */
h1 {
  font-size: 24px;
  font-family: 'Libre Franklin', sans-serif;
  /* Adjust the font size as needed */
}

/* Set font size for h2 */
h2 {
  font-size: 20px;
  /* Adjust the font size as needed */
}

/* Define a CSS class for italic headers */
.italic-header {
  font-style: italic;
  /* Italicize the text */
  font-weight: normal;
  /* Set font weight to normal (not bold) */
}

</style>