/* <style> */
* {
  box-sizing: border-box;

}


body {
  /*font-family: 'Libre Franklin', sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
}


article {
  float: left;
  /* margin-left: 50px; */
  padding: 30px;
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  background-color: #ffffff;
  position: absolute;
  /* height: auto;  */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Set font size for h1 */
h1 {
  font-size: 24px;
    font-family: 'Libre Franklin', sans-serif;
  /* Adjust the font size as needed */
}

/* Set font size for h2 */
h2 {
  font-size: 20px;
  /* Adjust the font size as needed */
}

/* Define a CSS class for italic headers */
.italic-header {
  font-style: italic;
  /* Italicize the text */
  font-weight: normal;
  /* Set font weight to normal (not bold) */
}

